body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: linear-gradient(to right, rgb(252, 252, 255),rgb(6, 6, 81));
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}




header {
    
    
    animation: slidefadedown 0.8s ease-out forwards;
    opacity: 0;
   padding: 5px 5px;
   box-sizing: border-box;
  
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    gap: 15px;
    transition: gap 0.3s ease;
}

nav ul li{
    white-space: none;
}
.tag{
    color: #11086d;
    font-size: 25px;
    font-weight: bold;
}
.name{
    font-size: 25px;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav ul li a {
    color: rgb(247, 247, 249);
    text-decoration: none;
    font-size: 21px;;
    font-weight: bold;
}

nav ul li a:hover {
    color: #090707;
    
}

.github-button {
    
    background-color: rgb(241, 240, 247);
    color: rgb(16, 7, 7);
    padding: 10px 11px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    border: 3px solid rgb(52, 17, 190);
    position: relative;
    left: 300px;
    bottom: 7px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-button:hover {
    background-color: #a3b0df;
    transform: scale(1.1);
}
.github-button span{
    font-weight: bolder;
}
section {
    padding: 20px;
    margin: 20px;
}


.project {
    
    border: 7px solid rgb(2, 2, 65);
    padding: 10px;
    margin: 10px;
    
    transition: transform 0.3s ease, background-color 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
    background-color: #c8c8f3;
}

.contact{
    display: flex;
    justify-content:space-around;
}
.spanwrap{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.span{
    text-align: center;
    background-color: #1f08ec;
    border-radius: 20px;
    padding: 7px;
    min-width: 80px;
    box-sizing: border-box;
    color: white;
    border: 2px solid rgb(138, 115, 250);
}
#Home a{
    color: #0a0909;
    font-size: 40px;
    
}

footer a{
    color: #0a0909;
    font-size: 40px;
    
}
footer{
    display: flex;
    gap:10px;
    justify-content: center;
}
#projects a{
    color: #f8f4f4;
    font-size: 45px;
}

.flex{
    display: flex;
    justify-content: space-between;
}


#Home h1{
   font-size: 37px;
}


@media (max-width: 1056px) {
    .span{
        flex: 1 1 calc(45%-10px);
    }
   header{
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
   
   }
    nav ul{
      
        gap: 15px;
    }
    section{
        width: 100%;
        
    }

    .contact form{
        margin: 10px;
    }
   
    
  
   
}
#footer.animation{
    animation: slideleft 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#Home.animation{
    animation: slideleft 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
#about.animation{
    animation: slidefadedown 3s ease-out forwards;
}
#projects{
    animation: rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
#skill.animation{
    animation: fadecolor 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
#contact.animation{
    animation: slideleft 3s ease-in-out forwards;
}
@keyframes rotate {
    0%{
        opacity: 0;
        transform: rotateX(90deg);
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes fadecolor {
    0%{
        opacity: 0;
        background-color: #1f08ec;
    }
    100%{
        opacity: 1;
        
    }
}
@keyframes slidefadedown {
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideleft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
